<div id="pol">
    <div id="profile_buttons">
        <div id="home" onmouseover="v('l1')" onmouseout="o('l1')">Главное
            <ul id="l1">
                <a href="str2"><li>Расписание</li></a>
                <a href="str3"><li>Успеваемость</li></a>
                <a href="str4"><li>Расписание учебных занятий</li></a>
            </ul>
        </div>
        <div id="grup" onmouseover="v('l2')" onmouseout="o('l2')">Группа
            <ul id="l2" >
                <li>Контакты</li>
                <li>Студенты</li>
                <li>Чат</li>
            </ul>
        </div>
        <div id="help" onmouseover="v('l3')" onmouseout="o('l3')">Помощь
            <ul id="l3" >
                <a href="https://t.me/nelchev"><li>Админ</li></a>
                <li>О электронном журнале</li>
                <li>Возникла проблема/вопрос</li>
            </ul>
        </div>
    </div>
    <div id="infa" onmouseover="v('l4')" onmouseout="o('l4')">
        {% if user.is_authenticated %}
        <label id="names">{{user.username}}</label>
        {%else%}
        <label id="names">Вы не авторизированы</label>
        {%endif%}
        <label id="group"></label>
        <label id="date"></label>
        {% if user.is_authenticated %}
            <ul id="l4">
                <a href="str5"><li>Профиль</li></a>
                <a href="{% url 'logout' %}"><li>Выйти</li></a>
            </ul>
            {%else %}
            <ul id="l4">
                <a href="{% url 'login'%}"><li>Авторизцироваться</li></a>
                <a href="{% url 'signup'%}"><li>Зарегестрироваться</li></a>
            </ul>
            {% endif %}
    </div>
</div>