<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <link rel="stylesheet" href="{%static 'style/style.css'%}">
    <link rel="icon" href="https://img.icons8.com/clouds/256/blue-pointer.png" type="image/svg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание</title>
</head>
<body id="str1" ondblclick="bdlclick()">
    <div id="s1">
        <div class="image">
            <img src="https://t4.ftcdn.net/jpg/00/79/37/43/360_F_79374314_96Jf981bO1aIPmo28OPTJ8buK7jZMDEL.jpg" width="50%" height="65%" >
        </div>
        <p id="auth_text_1">List user</p>
        <div class="log_pass">
            <span style="color: white">
            <h3>Name: {{ data.name }}</h3>
            <h3>Lastname: {{ data.lastname}}</h3>
            <h3>Role: {{ data.role.title}}</h3></span>
        </div>
        <div class="buttons">
            <a href="/"><input id="bt1" class="button" type="button" value="home"></a>
            <a href="/update/{{data.id}}"><input id="bt1" class="button" type="button" value="Update"></a>
            <a href="/delete/{{data.id}}"><input id="bt1" class="button" type="button" value="Delete"></a>
            <a href="/users"><input id="bt1" class="button" type="button" value="Down"></a>
        </div>
    </div>
</body>
</html>