<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <link rel="stylesheet" href="{%static 'style/style.css'%}">
    <link rel="icon" href="https://img.icons8.com/clouds/256/blue-pointer.png" type="image/svg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользователи</title>
</head>
<body id="str1" ondblclick="bdlclick()">
    <div id="s1">
        <div class="image">
            <img src="https://t4.ftcdn.net/jpg/00/79/37/43/360_F_79374314_96Jf981bO1aIPmo28OPTJ8buK7jZMDEL.jpg" width="50%" height="65%" >
        </div>
        <p id="auth_text_1">List user</p>
        <div class="log_pass">
            {%for data in dataset%}
            <span style="color: white; border: 1px solid red; padding: 5px">  {{data.name}}</span>
            <a href="/{{data.id}}"><input type="button" value="Посмотреть данные для {{data.name}}"></a>
            {%endfor%}
        </div>
        <div class="buttons">
            <a href="/"><input id="bt1" class="button" type="button" value="home"></a>
        </div>
    </div>
</body>
</html>