<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <link rel="stylesheet" href="{%static 'style/style.css'%}">
    <link rel="icon" href="https://avatars.mds.yandex.net/i?id=2910aa0aedb1f45366a1ad93ef3f631bcb76727c-8339391-images-thumbs&n=13" type="image/svg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успеваемость</title>
</head>
<body id="str3" onpageshow="jc()" ondblclick="bdlclick()">
    {%include 'includes/pol.html'%}
    <div id="i0"><p>УСПЕВАЕМОСТЬ</p></div>
    <div id="oc">
        <div id="i1"><label id="n1"></label><label id="o1"></label></div>
        <div id="i2"><label id="n2"></label><label id="o2"></label></div>
        <div id="i3"><label id="n3"></label><label id="o3"></label></div>
        <div id="i4"><label id="n4"></label><label id="o4"></label></div>
        <div id="i5"><label id="n5"></label><label id="o5"></label></div>
        <div id="i6"><label id="n6"></label><label id="o6"></label></div>
        <div id="i7"><label id="n7"></label><label id="o7"></label></div>
        <div id="i8"><label id="n8"></label><label id="o8"></label></div>
        <div id="i9"><label id="n9"></label><label id="o9"></label></div>
        <div id="i10"><label id="n10"></label><label id="o10"></label></div>
        <div id="i11"><label id="n11"></label><label id="o11"></label></div>
        <div id="i12"><label id="n12"></label><label id="o12"></label></div>
        <div id="i13"><label id="n13"></label><label id="o13"></label></div>
        <div id="i14"><label id="n14"></label><label id="o14"></label></div>
        <div id="i15"><label id="n15"></label><label id="o15"></label></div>
    </div>
    <script src="{% static 'java/java.js'%}"></script>
</body>
</html>