<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <link rel="stylesheet" href="{%static 'style/style.css'%}">
    <link rel="icon" href="https://img.icons8.com/ios-filled/1x/home.png" type="image/svg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>
<body onpageshow="jh()" id="str2" ondblclick="bdlclick()">
    {%include 'includes/pol.html'%}
    <div id="rp">
    </div>
    <script src="{% static 'java/java.js'%}"></script>
</body>
</html>